@import "./partials/Partials.scss";

@include keyframes(fadein) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadein {
  @include animate(fadein, 5s, finite, normal);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8efead;
  height: 50vw;
  width: 100vw;
  &__none {
    display: none;
  }
  &__h1 {
    @include fadein;
  }
  &__h1:hover {
    color: #ffec99d5;
    text-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
    cursor: pointer;
  }
  &__p {
    text-align: center;
    @include fadein;
  }
  &__p:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  &__box {
    display: none;
  }
  &__showbox {
    width: 700px;
    height: 500px;
    background-color: white;
  }
}

.examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffec99;
  // font-weight: bold;
  text-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.home__showbox__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #8efead;
  cursor: default;
}

header {
  color: #8efead;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}
